<!DOCTYPE html>
<html lang>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BestBuy - Error</title>
  <link href="assets/css/app.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/pages/extra_pages.css" rel="stylesheet">
</head>
<body class="login-page">
  <div class="limiter">
		<div class="container-login100 page-background">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<img alt="" src="assets/images/loading.png">
					</span>
					<span class="form404-title p-b-34 p-t-27">
						Error 500
					</span>
					<div class="text-center">
						<p class="txt1 p-b-20">
							Oops, Something went wrong. Please try after some times.
						</p>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Go to home page
						</button>
					</div>
					<div class="text-center p-t-50">
						<a class="txt1" href="signin.html">
							Need Help?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
  <script src="assets/js/app.min.js"></script>
  <script src="assets/js/pages/examples/pages.js"></script>
</body>
</html>