<!-- sidebar start -->
<div class="col-lg-3 order-2 order-lg-1">
  <!-- category menu start -->
  <div class="home-single-sidebar hm-4-cat mb-30 mb-sm-34">
    <div class="main-header-inner">
      <div class="category-toggle-wrap max-100">
        <div class="category-toggle">
          category
          <div class="cat-icon">
            <i class="fa fa-angle-down"></i>
          </div>
        </div>
        <nav class="category-menu static hm-1">
          <ul>
            <li><a href="shop.html"><i class="fa fa-desktop"></i> computer</a></li>
            <li class="menu-item-has-children"><a href="shop.html"><i class="fa fa-camera"></i>
                camera</a>
              <!-- Mega Category Menu Start -->
              <ul class="category-mega-menu">
                <li class="menu-item-has-children">
                  <a href="shop.html">Smartphone</a>
                  <ul>
                    <li><a href="shop.html">Samsome</a></li>
                    <li><a href="shop.html">GL Stylus</a></li>
                    <li><a href="shop.html">Uawei</a></li>
                    <li><a href="shop.html">Cherry Berry</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="shop.html">headphone</a>
                  <ul>
                    <li><a href="shop.html">Desktop Headphone</a></li>
                    <li><a href="shop.html">Mobile Headphone</a></li>
                    <li><a href="shop.html">Wireless Headphone</a></li>
                    <li><a href="shop.html">LED Headphone</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="shop.html">accessories</a>
                  <ul>
                    <li><a href="shop.html">Power Bank</a></li>
                    <li><a href="shop.html">Data Cable</a></li>
                    <li><a href="shop.html">Power Cable</a></li>
                    <li><a href="shop.html">Battery</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="shop.html">headphone</a>
                  <ul>
                    <li><a href="shop.html">Desktop Headphone</a></li>
                    <li><a href="shop.html">Mobile Headphone</a></li>
                    <li><a href="shop.html">Wireless Headphone</a></li>
                    <li><a href="shop.html">LED Headphone</a></li>
                  </ul>
                </li>
              </ul><!-- Mega Category Menu End -->
            </li>
            <li class="menu-item-has-children"><a href="shop.html"><i class="fa fa-book"></i>
                smart phones</a>
              <!-- Mega Category Menu Start -->
              <ul class="category-mega-menu">
                <li class="menu-item-has-children">
                  <a href="shop.html">Smartphone</a>
                  <ul>
                    <li><a href="shop.html">Samsome</a></li>
                    <li><a href="shop.html">GL Stylus</a></li>
                    <li><a href="shop.html">Uawei</a></li>
                    <li><a href="shop.html">Cherry Berry</a></li>
                    <li><a href="shop.html">uPhone</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="shop.html">headphone</a>
                  <ul>
                    <li><a href="shop.html">Desktop Headphone</a></li>
                    <li><a href="shop.html">Mobile Headphone</a></li>
                    <li><a href="shop.html">Wireless Headphone</a></li>
                    <li><a href="shop.html">LED Headphone</a></li>
                    <li><a href="shop.html">Over-ear</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="shop.html">accessories</a>
                  <ul>
                    <li><a href="shop.html">Power Bank</a></li>
                    <li><a href="shop.html">Data Cable</a></li>
                    <li><a href="shop.html">Power Cable</a></li>
                    <li><a href="shop.html">Battery</a></li>
                    <li><a href="shop.html">OTG Cable</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="shop.html">accessories</a>
                  <ul>
                    <li><a href="shop.html">Power Bank</a></li>
                    <li><a href="shop.html">Data Cable</a></li>
                    <li><a href="shop.html">Power Cable</a></li>
                    <li><a href="shop.html">Battery</a></li>
                    <li><a href="shop.html">OTG Cable</a></li>
                  </ul>
                </li>
              </ul><!-- Mega Category Menu End -->
            </li>
            <li><a href="shop.html"><i class="fa fa-clock-o"></i> watch</a></li>
            <li><a href="shop.html"><i class="fa fa-television"></i> electronic</a></li>
            <li><a href="shop.html"><i class="fa fa-tablet"></i> tablet</a></li>
            <li><a href="shop.html"><i class="fa fa-book"></i> books</a></li>
            <li><a href="shop.html"><i class="fa fa-microchip"></i> microchip</a></li>
            <li><a href="shop.html"><i class="fa fa-bullhorn"></i> bullhorn</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- category menu end -->

  <!-- sidebar banner start -->
  <div class="home-single-sidebar mb-30 mt-md-36">
    <div class="img-container fix img-full">
      <a href="index.html#">
        <img src="assets/img/banner/banner_left2.jpg" alt="">
      </a>
    </div>
  </div>
  <!-- sidebar banner end -->
</div>
<!-- sidebar end -->
